/* COLOR */

$green: #4cffcf;
$green-light:#b4faad;
$yellow: #fff04c;
$gradient: linear-gradient(0deg, #fff04c 0%, #fff04c 35%, #b4faad 75%, #4cffcf 100%);
;

/* old cvalues of green (4/5) ##7CFC90 */

/* SIZING ???? */

$padding:5px;