@import "../utils/var";


.link {
    max-width: 33%;
    // max-height: 460px;

    &:hover {
        color: #000;
        text-decoration: none;
    }

    &+.link {
        margin-left: 15px;
    }
}

.kard {
    padding: $padding*2;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(#000, .5);
    color: #000;

    &__img {
        margin-top: - $padding*2;
        margin-left: - $padding*2;
        margin-right: - $padding*2;

    }

    &__name {
        padding-top: $padding * 2;
        margin: 0;
        padding-left: $padding * 2;
        font-size: 1.1rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    &:hover {
        background-color: #f1f1f1;
    }

    &__descrition {
        margin-top: 10px;
        margin-bottom: 0;
        padding: 0 $padding * 2;
        //border-top: 2px solid #000;
    }
}

.artist-div {
    margin-top: -80px;
}

.artist-h1 {
    margin-right: 90px;
    background-color: $green;
    display: inline-block;
}

.artist-img {
    max-width: 90%;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.artwork {
    //flex: auto;
    max-width: 33.3%;
}