@import "../utils/var";

$text: #2e293c;
$secondary: #a09da6;

.slider-content {
    position: absolute;
    top: 0;
    width: 100%;
    // height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 2;

    // &:before {
    //     content: "";
    //     right: 0;
    //     bottom: 0;
    //     position: absolute;
    //     width: 800px;
    //     height: 400px;
    //     background: #000;
    //     opacity: .1;
    //     z-index: -1;
    // }

    .slider {
        // width: 1280px;
        // min-width: 1280px;
        width: 100%;
        height: 600px;
        position: relative;

        .close {
            float: left;
            top: 10px;
            left: 100px;
            padding: 0 20px;

            position: relative;
            // background: #ecf0f3;
            // box-shadow: 4px 4px 4px 0px #d1d9e6 inset,
            //     -4px -4px 4px 0px #fff inset;


            a {
                display: flex;
                color: #000;
                text-decoration: none;
                align-items: center;

                p {
                    font-size: 1rem;
                    line-height: 25px;
                    margin-bottom: 0;

                }

                i {
                    font-size: 14px;
                }

                .cross {
                    // position: relative;
                    width: 18px;
                    height: 18px;
                    margin-left: .2em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 3px;
                    box-shadow: 2px 2px 4px darken($green, 50), -1px -1px 2px $green;

                    &:hover {
                        box-shadow: 2px 2px 4px $green, -2px -2px 4px $green;
                        text-decoration: none;
                        color: $green;

                    }


                }
            }
        }

        .arrows {
            position: absolute;
            display: flex;
            width: 100px;
            align-items: center;
            justify-content: center;
            bottom: 0;
            top: 0;
            cursor: pointer;
            border-radius: 8px;
            transition: 0.3s ease-in-out;
            opacity: 0;
            z-index: 1;

            &:hover {
                box-shadow: 0px 0px 30px rgba(0, 0, 80, 0.1);
                opacity: 1;
            }

            &__right {
                right: 0;
            }

            &--visible {
                opacity: 1;
            }
        }

        &__inner {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 600px;

            &__image {
                // margin-left: 75px;
                width: 768px;
                height: 432px;
                display: flex;
                justify-content: center;
                align-items: center;

                // &:after {
                //   content: "";
                //   position: absolute;
                //   width: 200px;
                //   height: 200px;
                //   background: #3f56da;
                //   left: 140px;
                //   top: 0;
                //   border-radius: 100%;
                //   z-index: -1;
                // }

                ul {
                    display: flex;
                    position: absolute;
                    overflow: hidden;
                    width: 768px;
                    height: 432px;
                    box-shadow: 0 0 40px rgba($color: #000000, $alpha: 0.25);

                    li {
                        width: 768px;
                        height: 432px;

                        img {
                            width: 768px;
                            height: 432px;
                        }
                    }
                }
            }

            &__content {
                padding-left: 30px;
                width: 500px;
                height: 600px;
                display: flex;
                align-items: flex-end;

                ul {
                    position: absolute;
                    overflow: hidden;
                    width: 500px;
                    height: 400px;

                    li {
                        width: 500px;
                        height: 400px;
                        color: $text;
                        display: flex;
                        align-items: center;
                        position: absolute;
                        opacity: 0;


                        // AJUSTER DE FOU OU A DELETE
                        // METS EN VALEUR DES PARTIES DU CONTENT INNER
                        // SOULIGNEMENT LARGE

                        &:before {
                            content: "";
                            position: absolute;
                            height: 25px;
                            width: 310px;
                            background: $green;
                            opacity: 0.3;
                            left: 0;
                            top: 150px;
                        }

                        &:after {
                            content: "";
                            position: absolute;
                            height: 12px;
                            width: 170px;
                            background: $yellow;
                            opacity: 0.3;
                            left: 0;
                            top: 235px;
                        }

                        // &:nth-child(1) {
                        //     &:after {
                        //         content: "";
                        //         position: absolute;
                        //         height: 12px;
                        //         width: 310px;
                        //         background: $green;
                        //         opacity: 0.3;
                        //         left: 0;
                        //         top: 206px;
                        //     }
                        // }

                        // &:nth-child(2) {
                        //     &:after {
                        //         content: "";
                        //         position: absolute;
                        //         height: 12px;
                        //         width: 148px;
                        //         background: $green;
                        //         opacity: 0.3;
                        //         left: 54px;
                        //         top: 126px;
                        //     }
                        // }

                        // &:nth-child(3) {
                        //     &:after {
                        //         content: "";
                        //         position: absolute;
                        //         height: 12px;
                        //         width: 280px;
                        //         background: $green;
                        //         opacity: 0.3;
                        //         left: 144px;
                        //         top: 166px;
                        //     }
                        // }

                        .content__inner {
                            width: 500px;

                            .alt {
                                font-size: 26px;
                                letter-spacing: 0.88px;
                                line-height: 40px;
                                font-weight: 700;
                                margin-bottom: 16px;
                            }

                            .name {
                                font-size: 18px;
                                letter-spacing: 0.88px;
                                line-height: 28px;
                                color: $secondary;
                                font-weight: 600;
                            }

                            .details {
                                font-size: 18px;
                                letter-spacing: 0.88px;
                                line-height: 28px;
                                color: $secondary;
                            }
                        }
                    }
                }
            }
        }
    }
}